<footer class="pie">
    <div class="info pie__info">
      <address class="info__direccion text-primary">
        <strong>Oficina Municipal de Turismo.</strong><br>
        Calle Los Remedios, 2<br>
        11150, Vejer de la Frontera, Cádiz<br>
        <abbr title="Teléfono">Tlf:</abbr><a class="info__telefono link-primary" href="tel:+34956451736">+34 956 45 17 36</a>
      </address>
      <p class="info__creditos"><span property="dct:title">Cocínate Vejer</span> by <a class="info__enlace link-primary" href="https://github.com/manuelbrihuega" rel="cc:attributionURL dct:creator" property="cc:attributionName">Manuel Jesús de la Calle Brihuega</a> is marked with <a class="info__enlace link-primary" href="http://creativecommons.org/publicdomain/zero/1.0?ref=chooser-v1" target="_blank" rel="license noopener noreferrer">CC0 1.0<img class="info__imagen" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt="Logotipo de Creative Commons 1.0"><img class="info__imagen" src="https://mirrors.creativecommons.org/presskit/icons/zero.svg?ref=chooser-v1" alt="Logotipo de No Copyright"></a></p>
      <p class="info__creditos">Máster en Desarrollo de sitios y aplicaciones web impartido por la Universitat Oberta de Catalunya (UOC).</p>
      <p class="info__creditos">Imágenes de la web obtenidas de <a class="info__enlace link-primary" href="https://www.wikipedia.org">Wikipedia</a> y otras fuentes libres.</p>
    </div>
    <div class="navegacion pie__navegacion">
        <div class="logo navegacion__logo">
          <a href="./index.html" class="logo__enlace">
            <i class="logo__icono fas fa-burger text-secondary"></i>
            <span class="logo__texto text-primary">Cocínate Vejer</span>
          </a>
        </div>
        <ul class="menu nav justify-content-center navegacion__menu">
          <li class="nav-item">
            <a class="nav-link" href="./index.html">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./cocineros.html">Cocineros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./articulo.html">Historia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./contacto.html">Apúntate</a>
          </li>
        </ul>
        <ul class="rrss nav justify-content-center navegacion__rrss">
          <li class="nav-item">
            <a class="nav-link" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Visita nuestro espacio en Google +."><i class="fa-brands fa-google-plus-g"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.facebook.com/TurismoVejer1/?locale=es_ES" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Sigue todas nuestras novedades en Facebook." target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://twitter.com/turismovejer?lang=es" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Echa un vistazo a los mejores tweets sobre el concurso." target="_blank"><i class="fa-brands fa-twitter"></i></a>
          </li>
        </ul>

    </div>
</footer>
