<footer class="py-8 px-2 text-center desktop:px-20 tablet:px-8 grid grid-cols-1 auto-rows-auto gap-0 h-fit">
    <div class="py-10 mx-auto desktop:py-20">
      <address class="not-italic mb-4 text-verde-primario">
        <strong>Oficina Municipal de Turismo.</strong><br>
        Calle Los Remedios, 2<br>
        11150, Vejer de la Frontera, Cádiz<br>
        <abbr title="Teléfono">Tlf:</abbr><a class="no-underline text-verde-primario" href="tel:+34956451736">+34 956 45 17 36</a>
      </address>
      <p class="p-0 m-0 text-0.6rem leading-3 text-black"><span property="dct:title">Cocínate Vejer</span> by <a class="no-underline text-verde-primario" href="https://github.com/manuelbrihuega" rel="cc:attributionURL dct:creator" property="cc:attributionName">Manuel Jesús de la Calle Brihuega</a> is marked with <a class="no-underline text-verde-primario" href="http://creativecommons.org/publicdomain/zero/1.0?ref=chooser-v1" target="_blank" rel="license noopener noreferrer">CC0 1.0<img class="max-w-3 mb-0.5 inline ml-px" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt="Logotipo de Creative Commons 1.0"><img class="max-w-3 mb-0.5 inline ml-px" src="https://mirrors.creativecommons.org/presskit/icons/zero.svg?ref=chooser-v1" alt="Logotipo de No Copyright"></a></p>
      <p class="p-0 m-0 text-0.6rem leading-3 text-black">Máster en Desarrollo de sitios y aplicaciones web impartido por la Universitat Oberta de Catalunya (UOC).</p>
      <p class="p-0 m-0 text-0.6rem leading-3 text-black">Imágenes de la web obtenidas de <a class="no-underline text-verde-primario" href="https://www.wikipedia.org">Wikipedia</a> y otras fuentes libres.</p>
    </div>
    <div class="pt-4 border-t-2 border-solid border-color-bordes grid grid-cols-1 gap-6 desktop:grid-cols-3 desktop:gap-0 h-fit">
        <div class="w-fit font-bold mx-auto text-1.5rem leading-normal desktop:ml-0">
          <a href="./index.html">
            <i class="fas fa-burger text-verde-secundario"></i>
            <span class="text-verde-primario">Cocínate Vejer</span>
          </a>
        </div>
        <ul class="flex flex-wrap list-none pl-0 mt-0 mb-0 text-verde-primario justify-center">
          <li>
            <a class="block no-underline py-2 px-4 hover:text-verde-hover desktop:pl-0" href="./index.html">Inicio</a>
          </li>
          <li>
            <a class="block no-underline py-2 px-4 hover:text-verde-hover" href="./cocineros.html">Cocineros</a>
          </li>
          <li>
            <a class="block no-underline py-2 px-4 hover:text-verde-hover" href="#">Historia</a>
          </li>
          <li>
            <a class="block no-underline py-2 px-4 hover:text-verde-hover desktop:pr-0" href="#">Apúntate</a>
          </li>
        </ul>
        <ul class="text-1.2rem justify-self-end flex flex-wrap list-none pl-0 mt-0 mb-0 text-verde-primario justify-self-center desktop:justify-center">
          <li>
            <a class="block no-underline py-2 px-4 hover:text-verde-hover" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Visita nuestro espacio en Google +."><i class="fa-brands fa-google-plus-g"></i></a>
          </li>
          <li>
            <a class="block no-underline py-2 px-4 hover:text-verde-hover" href="https://www.facebook.com/TurismoVejer1/?locale=es_ES" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Sigue todas nuestras novedades en Facebook." target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
          </li>
          <li>
            <a class="block no-underline py-2 px-4 hover:text-verde-hover" href="https://twitter.com/turismovejer?lang=es" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Echa un vistazo a los mejores tweets sobre el concurso." target="_blank"><i class="fa-brands fa-twitter"></i></a>
          </li>
        </ul>

    </div>
</footer>
