<div class="absolute z-1 w-full py-8 px-20 lg:px-8 md:px-2">
    <div class="w-fit font-bold md:mx-auto float-left text-2rem md:float-none md:mx-auto sm:text-1.5rem">
        <a href="./index.html" class="no-underline">
            <i class="fas fa-burger text-verde-secundario"></i>
            <span class="text-verde-primario">Cocínate Vejer</span>
        </a>
    </div>
    <ul class="flex flex-wrap list-none pl-0 mt-0 mb-0 float-right text-verde-primario md:float-none md:justify-center">
      <li>
        <a class="block no-underline py-2 px-4 hover:text-verde-hover" aria-current="page" href="./cocineros.html">Cocineros</a>
      </li>
      <li>
        <a class="block no-underline py-2 px-4 hover:text-verde-hover" href="#">Historia</a>
      </li>
      <li>
        <a class="block no-underline py-2 px-4 hover:text-verde-hover" href="#">Apúntate</a>
      </li>
    </ul>
</div>
