<div class="absolute z-1 w-full py-20 px-8 lg:py-8 md:py-2">
    <div class="w-fit font-bold md:mx-auto float-left text-2rem md:float-none md:mx-auto sm:text-1.5rem">
        <a href="./index.html" class="no-underline">
            <i class="fas fa-burger text-verde-secundario"></i>
            <span class="text-verde-primario">Cocínate Vejer</span>
        </a>
    </div>
    <ul class="menu nav float-right md:float-none md:justify-center">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="./cocineros.html">Cocineros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./articulo.html">Historia</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./contacto.html">Apúntate</a>
      </li>
    </ul>
</div>
